html {
	height: 100%;
	margin: 0;
}

body {
	height: 95%;
	margin: 20px;
	overflow: hidden;
}

#map-container {
	position: relative;
	width: 100%;
	max-width: 1980px;
	max-height: 100%;
	padding-top : 0;
	padding-bottom: 60%;
	margin: auto;
	background: #d2b48c;
}

.svg-content {
    display: inline-block;
    position: absolute;
}


.hoverpopup {
	background: #eeeeee;
	border: 1px black solid;
	padding: 3px;
}

.search:hover, .search:focus {
  border: 1px solid #009688;
  background-color: white;
}

ul.breadcrumb {
	padding: 0px;
	list-style: none;
}

ul.breadcrumb li {
	display: inline;
	font-size: 12px;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/*.title {
	display : flex;
	font-size: 18px;
	justify-content: center;
	margin-bottom: -6px;
	margin-top: -12px;
	color: white;
}
