#map-container {
	position: relative;
	float: left;
	height: 0;
	width: 100%;
	padding-top : 5%;
	padding-bottom: 60%;
	background: #d2b48c;
	line-height: 0.5em;
}

.hoverpopup {
	background: #eeeeee;
	border: 1px black solid;
	padding: 3px;
}

.search:hover, .search:focus {
  border: 1px solid #009688;
  background-color: white;
}

ul.breadcrumb {
	padding: 0px;
	list-style: none
}

ul.breadcrumb li {
	display: inline;
	font-size: 12px;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.title {
	display : flex;
	font-size: 24px;
	justify-content: center;
}
