/* world-map.css
 *
 * css to handle base map coloring
 *
 * Written by Nick Pandelakis and Grace de Benedetti
 */

#map-container {
	float: left;
	height: 0;
	width: 100%;
	padding-bottom: 60%;
	background: DodgerBlue;
}

.hoverpopup {
	background: #eeeeee;
	border: 1px black solid;
	padding: 3px;
}

/*.navbarsExampleDefault {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-width: 100px;
}*/
