<!DOCTYPE html>
<!-- Written by Nick Pandelakis and Grace de Benedetti -->

<html>
	<head>
		<title>{{ Title }}</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
		<script>
			let pathScript = document.createElement("script");
			var path =  '/static/maps/datamaps.' + '{{country_code}}' + '.js';
			pathScript.setAttribute("src", path);
			document.head.appendChild(pathScript);

			let countryMapScript = document.createElement("script");
			countryMapScriptPath = "{{url_for('static', filename='country-map.js')}}";
			countryMapScript.setAttribute("src", countryMapScriptPath);
			document.head.appendChild(countryMapScript);
		</script>


		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='country-map.css')}}">

	</head>

	<body>
		<input id_"start_year"></input>
		<input id="end_year"></input>
		<div id="map-container"></div>
	</body>


</html>
