//Nick Pandelakis and Grace de Benedetti

STORY: A person interested in terrorism stats could get data about terrorist
attacks in the world to help understand where terrorism is most prevalent in
the world.

IMPLEMENTATION: We could have a world map, and the
user could hover over a country to get quick summary data about the country and
terrorism in that country, or click on a country to zoom into that country
to get more specific data.

STORY: A person interested in terrorism stats could get data about terrorist
attacks in a country to help understand where terrorism is most prevalent in
that country.

IMPLEMENTATION: We could have a country map, and the user could hover over
areas to get quick summary data, or click on an area to zoom into that area
to get a map with pins for each attack and more specific data.

STORY: A person interested in terrorism stats could get data about a specific
terrorist attack to help understand more about specific attacks.

IMPLEMENTATION: We could have a map of the area (provstate in dataset), and the
user could hover over a pin in the area to get quick summary data about the
terrorist attack, or click on an pin to get more information and statistics
about the attack.

STORY: A person interested in terrorism can search for specific countries or
regions to learn more about terrorism in the specified category.
(this one we're not sure about yet)

IMPLEMENTATION: There will be a search bar at the top of the page where users
can input their search string and the page will output a map with statistics
about terrorism in the specified category.
