//Nick Pandelakis and Grace de Benedetti

This dataset contains informatrion about terrorist attacks around the world from 1960-2018. This dataset can be obtained by going to 'https://start.umd.edu/gtd/' and requesting access to download it.


STORY: A person interested in terrorism stats wants to get data about terrorist
attacks in the world to help understand where terrorism is most prevalent in
the world.

IMPLEMENTATION: We would have a world terror heat map, and the
user could hover over a country to get quick summary data about the country and
terrorism in that country, or click on a country to zoom into that country
to get more specific data.

STORY: A person interested in terrorism stats wants to get data about terrorist
attacks in a specific country to help understand where terrorism is most prevalent in
that country.

IMPLEMENTATION: We could have a country terror heat map, and the user could hover over
areas to get quick summary data, or click on an area to zoom into that area
to get a map with pins for each attack and more specific data.

STORY: A person interested in terrorism stats could get data about a specific
terrorist attack to help understand more about specific attacks.

IMPLEMENTATION: This person could find the pin or search for the country where this
Specific attack occurred. Clicking on the pin would take them to a page that had all
of the relevant information for that attack.

STORY: A person interested in terrorism stats want to see where exactly terrorist
Attacks occurred in a specific province/region.

IMPLEMENTATION: We could have a map of the area (provstate in dataset), and the
user could hover over a pin in the area that corresponds to the gps location of
the attack to get quick summary data about the terrorist attack, or click on the
pin to get more information and statistics about the attack.

STORY: A person interested in terrorism can search for specific countries or
regions to learn more about terrorism in the specified category.
(this one we're not sure about yet)

IMPLEMENTATION: There will be a search bar at the top of the page where users
can input their search string and the page will output a map with statistics
about terrorism in the specified category.

STORY: At any level of depth, a person interested in terrorism might want to filter
terror attacks.

IMPLEMENTATION:
At each page that contains a map, there will be a box that allows the user to filter
out results she doesn't want to see.
